@charset "UTF-8";
.hj_check_middle div input {
    border: none;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 25px;
    line-height: 16px;
    padding: 4px 0;
    margin-top: 22%;
    width: 100%;
    background: 0 0;
    text-align: center;
    margin-left: 15px;
    color: rgba(0,0,0,.87);
}

#fileNameLocation{
    font-size: 20px;
    text-align: center;
    color: #80808099;
}
#fileUploadBtn{
    display: table;
    margin-left: auto;
    margin-top: 15px;
}

.validAlert{
	text-align: center;
	color: red;
	spadding-bottom:15px;
}

.validSuccessAlert{
	text-align: center;
	color: blue;
	spadding-bottom:15px;
}


.info_lists {
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
}

.info_lists1 {
    position: relative;
    padding: 15px;
    background: #fbf9f9;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    margin-bottom: unset;
}



.info_lists1 {
	position: relative;
	padding: 15px;
	background: #fbf9f9;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	margin-bottom: unset;
}

.bigAvatar {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    position: relative;
    display: inline-block;
    zoom: 1.1;
}

.avatar {
	overflow: hidden;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	margin-right: 5px;
	vertical-align: middle;
	cursor: pointer;
}

.modal-body {
	margin: auto;
	padding: 5%;
}

.yanoljaMainLogo {
	width: 92px;
	height: 32px;
	background: url(https://yaimg.yanolja.com/joy/pw/common/icon-comm.svg)
		-55px -12px;
	cursor: pointer;
	margin-top: 10px;
}

.radi_button {
	margin-top: 25px;
	width: 100%;
	background: #fc7093;
	display: block;
	padding: 10px 0;
	font-size: 13px;
	color: #fefefe;
	font-weight: 600;
	height: 50px;
	font-size: 16px;
}

#nav-tabs {
     padding-left: 700px;
}


.nav-tabsHead {
	padding-top: 50px;
	padding-left: 130px;
	padding-right: 10px;
	font-size: 18px;
	color: #444;
}

#modalTitle {
	text-align: left;
}

.mypageTableDiv {
	padding: 2%;
	background: #f5f5f5;
}

.mypageTable {
	background: #ff5f81;
	vertical-align: middle;
	color: white;
	margin: auto;
	text-align: center;
}

.mainNav {
	padding-left: 30px;
	height: 70px;
	padding-top: 15px;
	border-bottom: 1px solid;
	border-color: #ddd;
}

.mainContent {
	left: 25%;
	padding-bottom: 5%;
}

.mainheader {
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
}

.loginBox {
    padding-top: 5%;
    padding-bottom: 5%;
    min-height: 568px;
}

.joinBox {
	padding-bottom: 50px;
}

.loginHead {
	margin-bottom: 40px;
	color: #444;
	font-size: 34px;
	text-align: center;
}

.inputData {
	display: block;
	margin: auto;
	width: 450px;
	height: 26px;
	border: 1px solid #ccc;
	padding: 25px;
	margin-bottom: 15px;
}

.hjButton { 
	-webkit--background: linear-gradient(top, #ff4143, #ff1764);
	background: linear-gradient(top, #ff4143, #ff1764);
	background: #ff4143;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ff4143),
		color-stop(100%, #ff1764));
	bottom: 0;
	left: 0;
	margin: auto;
	width: 450px;
	height: 60px;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.footer_container {
	background-color: #252425;
	font-size: 13px;
	position: relative;
	width: 100%;
	height: 20%;
	float: left;
	padding-top: 30px;
	padding-left: 450px;
	color: #fff;
	text-align: left;
	font-family: 'NanumSquare';
}

.jbFixed {
	z-index: 999;
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: white;
	padding-left: 30px;
	height: 70px;
	border-bottom: 1px solid;
	border-color: #ddd;
	padding-top: 15px;
}

#myLocationAddress {
	font-size: 18px;
	margin-bottom: 15%;
}

#myLocationAddressImage {
	margin-left: 35%;
	float: left;
}

#mainBanner {
	position: absolute;
	top: 20;
	left: 0;
	width: 100%;
}

#logo_btn {
	float: left;
}

#mainInput {
	padding-top: 10px;
	background-color: white;
	text-align: center;
	font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic",
		"NanumBarunGothic", sans-serif !important;
}

#accom_type {
	width: 300px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
}

#accom_addr {
	width: 300px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	font-size: 16px;
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
}

#checkinDate {
	width: 180px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}

#checkoutDate {
	width: 180px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}

#accomSelect {
    padding-left: 40%;
    height: 85px;
    color: #222;
    font-size: 26px;
    text-align: center;
    border: 0;
    width: 100%;
}

#accomAddr {
	padding-left: 40%;
	height: 85px;
	color: #222;
	font-size: 26px;
	border: 0;
  	width: 100%;
}

#checkin_date {
	height: 85px;
	color: #222;
	font-size: 15px;
	border: 0;
}

#checkout_date {
	height: 85px;
	color: #222;
	font-size: 15px;
	border: 0;
}

.ya_cusor {
	font-size: 16px;
	color: #666;
	margin-left: 17px;
}

.ya_cusor:hover {
	text-decoration: none;
	color: #ED006D;
}

.ya_logo:hover {
	font-size: 25px;
	color: #ED006D;
	text-decoration: none;
}

.nav_left {
	color: #666666;
	font-size: 16px;
	margin-left: 17px;
	margin-top: 10px;
	float: left;
}

.nav_right {
	color: #666666;
	font-size: 16px;
	margin-right: 55px;
	margin-top: 10px;
	float: right;
}

.centered-left1 {
	position: absolute;
	top: 140px;
	font-size: 60px;
	color: #ffffff;
	margin-left: 15%;
}

.centered-left2 {
	position: absolute;
	top: 220px;
	font-size: 60px;
	color: #ffffff;
	margin-left: 15%;
}

.centered-left3 {
	position: absolute;
	top: 360px;
	color: #000000;
	margin-left: 15%;
}

.btn-search-stay {
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 0;
	width: 215px;
	height: 131px;
	text-rendering: auto;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ff493d),
		color-stop(100%, #ff1069));
	font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic",
		"NanumBarunGothic", sans-serif !important;
}

.accomSelectImage {
	margin-top: -4px;
	margin-right: 10px;
}

.menubar ul {
	margin: 0;
	padding: 0;
}

.menubar li {
	float: left;
	padding: 0px;
}

.menubar li a:hover, .menubar ul li:hover a {
	background: none; 
	color : #666666;
	text-decoration: none;
}

.menubar li ul {
	background: white;
	display: none;
	position: absolute;
	z-index: 200;
}

.menubar li:hover ul {
	display: block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
	width: 200px;
}

.menubar li:hover li a {
	background: none;
}

.menubar li ul a {
	display: block;
	height: 50px;
	padding: 10px 10px 0px 15px;
}

.menubar li ul a:hover, .menubar li ul li:hover a {
	background: none;
	border: 0px;
	color: #ED006D;
	text-decoration: none;
}

.menubar p {
	clear: left;
}