.date_selecter{
	background-color: #F2F2F2;
	width:100%;
	height:55px;
	margin-top: 0;
	padding: 10px;
	padding-left: 30px;
	text-align: left;
}
.category{
	box-sizing:border-box;
	text-align: left;
	height: 50px;
	border-bottom: 1px solid #DDDDDD;
	padding-top: 7.5px;
	padding-bottom: 7.5px; 
	padding-left: 30px;
	padding-right: 30px;
}

.category_font{
	display: inline-block;
	font-family: 'Hi Melody', cursive;
	font-size:20px;
	margin-right: 4%;
	cursor: pointer;
}
@media (max-width:760px){
.category_font{
	display: inline-block;
	font-family: 'Hi Melody', cursive;
	font-size:16px;
	margin-right: 5%;
	cursor: pointer;
}
}

.list{
	display: inline-block;
	box-sizing:border-box;
	width: 60%;
	padding-left: 30px;
	padding-right: 30px;
}
.map{
	display: inline-block;
	box-sizing:border-box;
	width: 40%;
	height:100%;
	position: fixed;
}
.list_ul{
	width:100%;
	box-sizing:border-box;
	display: inline-block;
	height: 48px;
	padding-top: 8px;
	padding-bottom:8px; 
	padding-left: 0px;
}
.list_li{
	display: inline-block;
	cursor: pointer;
}
.list_font{
	display: inline-block;
	font-family: 'Hi Melody', cursive;
	font-size: 16px;
}
.icono-reset{
	zoom:0.6;
}
.icono-caretDown{
	zoom:0.5; 
}
.checkbox{
	display: inline-block;
}
#font_{
	float: right;
}
.font_1{
	padding-top:15px;
	font-family: 'Hi Melody', cursive;
	font-size: 20px;
}
.first_list{
	border-bottom: 1px solid #e5e5e5;
	display: inline-block;
	width: 100%
}
.map_header{
	display:table;
	padding-top:15px;
	padding-left:30px;
	padding-right:30px;
	width: 100%;
	height: 50px;
	position: absolute;
	z-index:100;
	background-color: hsla(0,0%,100%,.9);
}
.map1{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.square{
	width: 15px;
	height: 15px;
	display: inline-block;
}
.radio__1{
	box-sizing: border-box;
	animation-name: fadeIn;
	animation-iteration-count:1;
	animation-duration:.6s;
	animation-delay:0s;
	animation-timing-function:ease;
	animation-fill-mode:both;
	position:absolute;
	border-top: 2px solid #ff2d60;
	padding: 20px;
	text-align: left;
	background-color: #fff;
	box-shadow: 0 3px 7px rgba(0,0,0,.2);
}

@keyframes fadeIn{
	0% {opacity: 0;}
	100%{opacity: 1;}
}
.radio1__input{
	height: auto;
}
.radio1__input__font{
	font-size: 14px;
	margin: 0;
}
#radio1_input0{
	color: #ff2d60;
}
.list_li1_div{
	display: inline-block;
	margin-right: 5%;
}
.radio3__div{
	box-sizing: border-box;
	display:inline-block;
	width:50%;	
}
.radio__12{
	width: 320px;
}
.radio3_button{
	float: right;
}
.map_header_writer{
	display: inline-block;
	margin-right: 5%;
}
.font_2{
	display: inline-block;
}
.font_weight800{
	font-weight: 800;
}
.test_img{
	display:block;
	width: 100%;
}
.first_list_one{
	width: 33%;
    display: inline-block;
    padding: 10px;
}
.premium_selecter{
	padding-left: 0px;
}
.premium_selecter_li{
	list-style: none;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #e5e5e5;
	
}
.premium_selecter_img{
	width: 30%;
	display: inline-block;
	max-height: 240px;
}
.premium_selecter_writer{
	width: 70%;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	vertical-align :top;
}
.p_span{
	display: inline-block;
}
.p_span0{
	padding: 10px;
}
.p_padding5{
	padding: 5px;
}
.p_padding20{
	padding-left: 20px;
	padding-right: 20px;
}
.square_div_Reservation{
	background-color: #ff2d60;
}
.p_padding30{
	padding-left: 45px;
}
.font_color11{
	color: #aaa;
}
.ppp__{
	position: absolute;
}