<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play.web.mbr.MemberMapper">
  <select id="get" resultType="com.play.web.mbr.Member">
    SELECT *
    FROM member
    <where>
    	<if test=" member_id != null and member_id != '' ">
    		MEMBER_ID LIKE #{member_id}
    	</if>
    	<if test=" password != null and password != '' ">
    		AND PASSWORD LIKE #{password}
    	</if>
    </where>
  </select>
  
  <insert id="post" >
  	INSERT INTO member
  		<!-- <if test=" BIRTHDATE != null and BIRTHDATE != '' "> -->
    		(MEMBER_ID, NAME, PASSWORD, BIRTHDATE, GENDER, AGE, PHONE, CUSTOMER_GRADE, NICKNAME, ADDRESS, kakaoToken)
    		VALUES (#{member_id}, #{name}, #{password}, #{birthdate}, #{gender}, #{age}, #{phone}, #{customer_grade}, #{nickname}, #{address}, #{kakaoToken})
  		<!-- </if> -->
  		<!-- <if test=" BIRTHDATE == null and BIRTHDATE == '' ">
    		(MEMBER_ID, NAME, PASSWORD, PHONE, CUSTOMER_GRADE, NICKNAME, ADDRESS, ZIPCODE)
    		VALUES (#{member_id}, #{name}, #{password}, #{phone}, #{customer_grade}, #{nickname}, #{address}, #{zipcode})
  		</if> -->
  </insert>
  
  <select id="list" resultType="com.play.web.mbr.Member">
    SELECT * 
    FROM member
  </select>
  <select id="count" resultType="int">
  	SELECT COUNT(*) FROM MEMBER
  	<where>
	  	<if test=" member_id != null and member_id != '' ">
	  		MEMBER_ID LIKE #{member_id}
	  	</if>
  	</where>
  </select>
  
  <update id="update" parameterType="com.play.web.mbr.Member">
	  UPDATE member SET
	  	<if test=" nickname != null and nickname != '' ">
    		NICKNAME = #{nickname}
    	</if>
	  	<if test=" password != null and password != '' ">
    		PASSWORD = #{password}
    	</if>
	  	<if test=" phone != null and phone != '' ">
    		PHONE = #{phone}
    	</if>
	  	<if test=" profileimg != null and profileimg != '' ">
    		PROFILEIMG = #{profileimg}
    	</if>
	  WHERE MEMBER_ID LIKE #{member_id}
  </update>
  
  <delete id="delete" parameterType="com.play.web.mbr.Member">
	  DELETE FROM member
	  WHERE MEMBER_ID = #{member_id}
	  AND PASSWORD = #{password}
  </delete>
</mapper>