<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play.web.accom.AccomMapper">
	<resultMap type="hashmap" id="HeeTaeBean">
		<result property="accom_seq" column="accom_seq"/>
		<result property="accom_name" column="accom_name"/>
		<result property="accom_addr" column="accom_addr"/>
		<result property="accom_phone" column="accom_phone"/>
		<result property="accom_business_no" column="accom_business_no"/>
		<result property="accom_type" column="accom_type"/>
		<result property="accom_date" column="accom_date"/>
		<result property="room_seq" column="room_seq"/>
		<result property="room_name" column="room_name"/>
		<result property="room_no" column="room_no"/>
		<result property="room_price" column="room_price"/>
		<result property="room_image1" column="room_image1"/>
		<result property="room_image2" column="room_image2"/>
		<result property="room_image3" column="room_image3"/>
		<result property="msg_seq" column="msg_seq"/>
		<result property="msg_title" column="msg_title"/>
		<result property="msg_content" column="msg_content"/>
		<result property="msg_photo" column="msg_photo"/>
		<result property="msg_date" column="msg_date"/>
		<result property="board_id" column="board_id"/>
		<result property="member_id" column="member_id"/>
		<result property="name" column="name"/>
		<result property="accom_reco" column="accom_reco"/>
		<result property="pay_no" column="pay_no"/>
		<result property="pay_type" column="pay_type"/>
		<result property="res_no" column="res_no"/>
		<result property="checkin_date" column="checkin_date"/>
		<result property="checkout_date" column="checkout_date"/>
	</resultMap>
	<select id="retrieveAcomReservation" resultMap="HeeTaeBean">
		SELECT * FROM acom_reservation
		WHERE PAY_NO = #{pay_no}
	</select>
	<select id="retrieveAcom" resultMap="HeeTaeBean">
		SELECT * FROM accommodation
		WHERE ACCOM_SEQ = #{accom_seq}
	</select>
	<select id="retrieveReservationStartDate" resultType="boolean">
		SELECT CASE WHEN A.cnt = 0 THEN 'TRUE'
           ELSE 'FALSE'
           END
           AS 'check'
			FROM(
			SELECT COUNT(*) AS cnt
			FROM room
			WHERE room.room_seq
			IN(
			SELECT acom_reservation.room_seq
			FROM acom_reservation
			WHERE checkin_date = #{checkin_date}
			AND room_seq = #{room_seq} 
			))A
	</select>
	<select id="retrieveReservationEndDate" resultType="boolean">
		SELECT CASE WHEN A.cnt = 0 THEN 'true'
           ELSE 'false'
           END
           AS 'check'
			FROM(
			SELECT COUNT(*) AS cnt
			FROM room
			WHERE room.ROOM_SEQ
			in(
			SELECT acom_reservation.ROOM_SEQ
			FROM acom_reservation
			WHERE CHECKOUT_DATE = #{checkout_date}
			AND ROOM_SEQ = #{room_seq} 
			))A
	</select>
	<select id="listRoom" resultMap="HeeTaeBean">
		SELECT * FROM room
		WHERE ACCOM_SEQ = #{accom_seq}
	</select>
	<select id="listReview" resultMap="HeeTaeBean">
		SELECT * FROM acom_review
		WHERE ACCOM_SEQ = #{accom_seq}
	</select>
	<select id="insertReview" resultMap="HeeTaeBean">
		INSERT INTO acom_review(
		MSG_TITLE, MSG_CONTENT, MSG_PHOTO, BOARD_ID, MEMBER_ID,
		ROOM_SEQ, ACCOM_GRADE, ACCOM_RECO, PAY_NO)
		VALUES( #{msg_title},'#{msg_content}','#{msg_photo}'
		,'#{msg_date}','#{board_id}','#{member_id}','#{name}'
		,'#{accom_reco}','#{pay_no}' )
	</select>
	<select id="insertPayment" resultMap="HeeTaeBean">
		INSERT INTO payment
		(MEMBER_ID,PAY_TYPE,PAY_PRICE) 
		VALUES
		(#{member_id},#{pay_type},#{pay_price});
	</select>
	<select id="insertResrvation" resultMap="HeeTaeBean">
		INSERT INTO reservation
		(PAY_NO,ROOM_SEQ,CHECKIN_DATE,CHECKOUT_DATE) 
		VALUES
		(#{pay_no},#{room_seq},#{checkin_date},#{checkout_date});
	</select>
</mapper>
